<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zxu.masterofpainting">

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShowIngredientsActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zxu.masterofpainting.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.ShowIngredientsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShowIngredientsActivityTheme" />
        <activity
            android:name=".activity.CollocationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollocationDetailActivityTheme" />
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CollocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollocationActivityTheme" />
        <activity
            android:name=".activity.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollectionActivityTheme" />
        <activity
            android:name=".activity.LabelDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LabelDetailActivityTheme" />
        <activity
            android:name=".activity.LabelFineCollocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LabelDetailActivityTheme" />
        <activity
            android:name=".activity.PhysiqueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShowIngredientsActivityTheme" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VitaminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VitaminInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TakephotoActivityTheme" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.ChineseMedicineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.MedicineDetaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.SolarTermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.SolarDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.HourDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthPreserve.ChaCareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cha.ShowTeaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.tencent.liteav.demo.play.action.float.click" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SmartCombinationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cha.flourTea.ShowFTeaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CupSeeActivity"></activity>
    </application>

</manifest>